.topNav {

}

.pageContainer {
    background-image: url("../../images/halloween_background.webp");
}

.logo {
    display: flex;
    color: #e50914;
    font-size: 40px;
    line-height: 40px;
    padding: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 104px);
}